@media screen and (min-width: 320px) {
    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        max-width: 320px;
        margin: 0 auto;
        overflow: hidden;
    }
}